html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  overflow-x: hidden;
  cursor: default;
}

* {
  box-sizing: border-box;
}

a {
  color: rgb(238, 49, 47);
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

a:hover {
  color: rgb(202, 42, 39);
}

img {
  max-width: 100%;
  display: block;
}

::selection {
  background: rgb(202, 42, 39);
  color: white;
}
